Concatenating numerical and categorical

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.options.display.max_rows = 100

In [3]:
df = pd.read_csv ('Data/Data_Marketing_Customer_Analysis_Round3.csv')
df

,Unnamed: 0,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,0,central,4809,no,basic,college,2/18/11,feb,employed,m,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,...,31,1,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,...,40,2,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,10688,west region,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [4]:
def drop_columns(df2):
    df.drop(columns=["Unnamed: 0"], inplace=True)
    return df

In [6]:
drop_columns(df)

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,...,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,26794,...,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,...,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,...,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,...,31,1,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,64811,...,40,2,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,...,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,...,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,...,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,west region,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,88784,...,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

In [7]:
numerical = df.select_dtypes(include=np.number)
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,26794,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480
3,22332,49078,97,10,3,0,2,484
4,9025,23675,117,15,31,1,7,707
...,...,...,...,...,...,...,...,...
10684,15563,64811,253,8,40,2,7,1214
10685,5259,61146,65,7,68,0,6,273
10686,23893,39837,201,11,63,0,2,381
10687,11971,64195,158,0,27,4,6,618
10688,6857,88784,101,31,1,0,3,1021

In [8]:
categorical = df.select_dtypes(include=np.object)
categorical

/var/folders/fz/8c6p2kfn5z98lys6tff8f9jm0000gn/T/ipykernel_32014/2844959617.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical = df.select_dtypes(include=np.object)

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,west region,no,basic,bachelor,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

In [9]:
categorical = pd.get_dummies(categorical, drop_first = True)

In [10]:
categorical

,region_east,region_north west,region_west region,response_yes,coverage_extended,coverage_premium,education_college,education_doctor,education_high school or below,education_master,...,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
3,0,1,0,1,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,0,0,0,0,0,1,0,0,0,0,...,0,0,1,1,0,0,0,0,1,0
10685,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
10686,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
10687,0,0,1,0,0,1,1,0,0,0,...,1,0,0,0,0,0,1,0,1,0
10688,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0

In [11]:
# Concatenating Numerical and Categorical
df_new = pd.concat([numerical, categorical], axis=1)

In [12]:
df_new

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,region_east,region_north west,...,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small
0,4809,48029,61,7,52,0,9,292,0,0,...,0,0,0,0,0,0,0,0,1,0
1,2228,26794,64,3,26,0,1,744,0,0,...,0,1,0,0,0,0,0,0,1,0
2,14947,22139,100,34,31,0,2,480,1,0,...,0,1,0,0,0,0,1,0,1,0
3,22332,49078,97,10,3,0,2,484,0,1,...,1,0,0,0,0,0,0,0,1,0
4,9025,23675,117,15,31,1,7,707,0,1,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,15563,64811,253,8,40,2,7,1214,0,0,...,0,0,1,1,0,0,0,0,1,0
10685,5259,61146,65,7,68,0,6,273,0,1,...,1,0,0,0,0,0,0,0,1,0
10686,23893,39837,201,11,63,0,2,381,0,0,...,0,0,1,0,1,0,0,0,1,0
10687,11971,64195,158,0,27,4,6,618,0,0,...,1,0,0,0,0,0,1,0,1,0
10688,6857,88784,101,31,1,0,3,1021,0,0,...,0,0,1,0,0,0,1,0,1,0

In [14]:
X=df_new.drop('total_claim_amount', axis=1)
y=df_new.total_claim_amount

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=123)

In [16]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import QuantileTransformer
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

std_scaler=StandardScaler().fit(X_train)   ##. finding the parameters ( mean, variance from the training set )

X_train_scaled=std_scaler.transform(X_train)

In [17]:
X_test_scaled=std_scaler.transform(X_test)

In [18]:
print(X_train_scaled)
print("--------")
print(X_test_scaled)

[[-0.11021627 -1.2632667  -0.67143823 ...  1.95232568  0.65494534
  -0.48945135]
 [-0.42794064 -1.36853038 -0.72925469 ...  1.95232568 -1.52684497
   2.04310398]
 [-0.5223013   0.26299646  0.48489091 ... -0.51220962  0.65494534
  -0.48945135]
 ...
 [-0.81132612 -1.16342071 -0.90270406 ...  1.95232568 -1.52684497
   2.04310398]
 [ 2.25575772  0.97656622 -0.78707115 ... -0.51220962  0.65494534
  -0.48945135]
 [ 1.18923585 -0.01438919 -0.55580532 ... -0.51220962  0.65494534
  -0.48945135]]
--------
[[-0.40967729 -0.94647238 -0.61362178 ...  1.95232568  0.65494534
  -0.48945135]
 [-0.7597249  -0.93254692 -0.64253    ... -0.51220962  0.65494534
  -0.48945135]
 [ 0.57248529 -1.22437973 -0.90270406 ...  1.95232568  0.65494534
  -0.48945135]
 ...
 [-0.79857077  0.60844433 -0.58471355 ...  1.95232568  0.65494534
  -0.48945135]
 [-0.42547654 -0.96649777 -0.81597938 ...  1.95232568  0.65494534
  -0.48945135]
 [-0.49881985 -0.94988352  0.71615674 ...  1.95232568 -1.52684497
  -0.48945135]]

In [19]:
#Applying Linear Regression
X.columns

Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'region_east',
       'region_north west', 'region_west region',
       ...
       'sales_channel_branch', 'sales_channel_call center',
       'sales_channel_web', 'vehicle_class_luxury car',
       'vehicle_class_luxury suv', 'vehicle_class_sports car',
       'vehicle_class_suv', 'vehicle_class_two-door car',
       'vehicle_size_medsize', 'vehicle_size_small'],
      dtype='object', length=108)

In [23]:
#Model interpretation
# target = b1 * median + b2* avg + b0 (para calcular o slope e o intercept)
# aqui esta treinando a machine com um exemplo, pois é um supervised learning model
#Using Scikit Learn
from sklearn.linear_model import LinearRegression
model=LinearRegression()    # model
model.fit(X_train_scaled, y_train)   # model train

LinearRegression()

In [24]:
type(model)

sklearn.linear_model._base.LinearRegression

In [25]:
model.coef_

array([ 1.61093379e-01, -5.34741457e+00,  1.79289174e+02,  4.89682016e+00,
       -4.10904241e-02,  1.39106129e+00, -7.43152201e-01,  2.50343957e+00,
       -1.71582552e-01,  2.60010946e+00, -9.46705896e+00, -5.42226388e+00,
       -3.97670098e+00, -3.31795874e+00, -4.08390180e+00,  2.02658584e+00,
       -2.82500524e+00, -1.05051206e+00, -7.45082321e-01,  6.59168252e-01,
        2.21334971e+00, -1.18626338e+00, -2.10832567e+00, -2.65321100e+00,
       -2.56138162e+00, -3.15822855e+00, -3.13208924e+00,  1.19669867e+00,
        6.38232369e-01, -3.08884230e+00, -5.44465175e-01, -2.89794304e+00,
       -3.97840098e+00, -2.88579256e+00,  1.03052167e+00,  8.90504795e-01,
       -2.42528292e+00,  1.50623828e+00,  3.33293286e-01, -1.57152828e+00,
       -4.50424386e+00, -6.27677105e-01, -4.78169224e-01, -6.51730455e-03,
       -2.92335815e+00, -2.33572503e+00, -4.94059259e+00,  4.94299200e+14,
        5.03472744e+14,  5.14248757e+14,  4.94299200e+14,  4.47459723e+14,
        5.23045867e+14,  4.41232042e+14,  4.75381353e+14,  4.34909944e+14,
        4.69546861e+14,  5.03472744e+14,  4.86826541e+14,  4.47459723e+14,
        4.86826541e+14,  4.96148501e+14,  4.61645156e+14,  4.59647125e+14,
        5.03472744e+14,  4.99825054e+14,  4.99825054e+14,  5.05285961e+14,
        5.10684006e+14,  5.21299295e+14,  4.94299200e+14,  4.75381353e+14,
        5.07092194e+14,  4.04026419e+14,  4.63634028e+14,  1.88087820e+15,
       -2.08895719e+00,  3.57639334e+00, -5.57153524e-01,  3.79176865e+01,
        7.62821138e+00,  1.84125820e+02,  8.47474124e+01, -1.05176321e-01,
        3.13010087e+01,  1.30231066e+15,  1.41158846e+15, -2.16357227e+00,
        1.53633841e-01, -1.02305952e+15, -1.25347238e+15, -1.44657128e+15,
       -5.84602642e+14, -9.31881980e+14, -9.14235724e+14,  7.04934836e+00,
        4.58927579e+00,  3.14354704e+00,  1.54962628e-01, -1.00364897e+00,
       -1.59503718e+00,  4.71426067e+00, -9.18277109e-01, -4.74855840e+00,
       -6.52291405e+00, -7.12458147e-02, -3.97769125e+00, -7.68680319e-01])

In [26]:
model.intercept_

433.2770896620007

In [20]:
#Model interpretation using using Statsmodel

X_train_const_scaled = sm.add_constant(X_train_scaled) # adding a constant

model = sm.OLS(y_train, X_train_const_scaled).fit()
predictions_train = model.predict(X_train_const_scaled) 

X_test_const_scaled = sm.add_constant(X_test_scaled) # adding a constant
predictions_test = model.predict(X_test_const_scaled) 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:     total_claim_amount   R-squared:                       0.773
Model:                            OLS   Adj. R-squared:                  0.770
Method:                 Least Squares   F-statistic:                     239.0
Date:                Thu, 14 Apr 2022   Prob (F-statistic):               0.00
Time:                        15:54:31   Log-Likelihood:                -47599.
No. Observations:                7482   AIC:                         9.541e+04
Df Residuals:                    7376   BIC:                         9.614e+04
Df Model:                         105
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        433.0597      1.632    265.345      0.000     429.860     436.259
x1             0.1611      1.801      0.089      0.929      -3.370       3.692
x2            -5.0882      1.893     -2.688      0.007      -8.800      -1.377
x3           179.0892      4.789     37.395      0.000     169.701     188.477
x4             5.5242      1.651      3.345      0.001       2.287       8.762
x5             0.6596      1.663      0.397      0.692      -2.600       3.919
x6             2.0282      1.649      1.230      0.219      -1.205       5.261
x7            -0.8605      1.661     -0.518      0.604      -4.116       2.395
x8             2.7219      1.797      1.515      0.130      -0.801       6.245
x9             0.0757      1.976      0.038      0.969      -3.798       3.950
x10            3.1691      1.986      1.595      0.111      -0.725       7.063
x11           -9.1975      1.798     -5.116      0.000     -12.721      -5.674
x12           -5.4854      2.129     -2.576      0.010      -9.660      -1.311
x13           -3.9327      2.580     -1.524      0.127      -8.990       1.125
x14           -3.7464      1.947     -1.924      0.054      -7.564       0.071
x15           -3.7577      1.719     -2.187      0.029      -7.126      -0.389
x16            2.2333      1.959      1.140      0.254      -1.608       6.074
x17           -3.4452      1.783     -1.932      0.053      -6.941       0.050
x18           -1.2074      2.500     -0.483      0.629      -6.108       3.693
x19           -1.5083      2.340     -0.645      0.519      -6.095       3.078
x20           -0.6114      2.224     -0.275      0.783      -4.972       3.749
x21            3.0709      2.279      1.347      0.178      -1.398       7.539
x22           -1.1114      2.329     -0.477      0.633      -5.677       3.454
x23           -0.4323      2.247     -0.192      0.847      -4.837       3.972
x24           -1.7920      2.281     -0.786      0.432      -6.263       2.679
x25           -1.5293      2.483     -0.616      0.538      -6.397       3.338
x26           -1.6760      2.379     -0.705      0.481      -6.339       2.987
x27           -2.0809      2.455     -0.848      0.397      -6.894       2.732
x28            1.0658      2.418      0.441      0.659      -3.674       5.806
x29            1.0704      2.360      0.454      0.650      -3.555       5.696
x30           -1.7292      2.421     -0.714      0.475      -6.475       3.017
x31            0.3818      2.273      0.168      0.867      -4.074       4.838
x32           -2.5802      2.355     -1.096      0.273      -7.196       2.036
x33           -3.8752      2.339     -1.657      0.098      -8.460       0.709
x34           -0.9717      2.305     -0.422      0.673      -5.490       3.547
x35            1.7843      2.469      0.723      0.470      -3.055       6.624
x36            0.4085      2.556      0.160      0.873      -4.602       5.419
x37           -0.6125      2.383     -0.257      0.797      -5.285       4.060
x38            2.4092      2.328      1.035      0.301      -2.155       6.973
x39            1.1602      2.484      0.467      0.641      -3.710       6.030
x40           -1.7716      2.322     -0.763      0.446      -6.324       2.781
x41           -3.7599      2.432     -1.546      0.122      -8.527       1.007
x42           -0.7346      2.206     -0.333      0.739      -5.060       3.591
x43            0.4018      2.397      0.168      0.867      -4.297       5.101
x44           -0.3325      2.269     -0.147      0.884      -4.780       4.115
x45           -2.6319      2.340     -1.125      0.261      -7.218       1.954
x46           -0.9883      2.318     -0.426      0.670      -5.533       3.556
x47           -3.3801      2.309     -1.464      0.143      -7.907       1.147
x48            0.8676      1.709      0.508      0.612      -2.483       4.218
x49            0.6998      1.715      0.408      0.683      -2.662       4.062
x50           -1.4321      1.715     -0.835      0.404      -4.794       1.930
x51           -1.9732      1.708     -1.155      0.248      -5.322       1.376
x52           -0.0029      1.696     -0.002      0.999      -3.327       3.321
x53           -2.8938      1.717     -1.685      0.092      -6.260       0.472
x54           -0.3064      1.699     -0.180      0.857      -3.638       3.025
x55            0.7164      1.705      0.420      0.674      -2.626       4.059
x56            0.5187      1.694      0.306      0.760      -2.803       3.840
x57           -0.7201      1.704     -0.423      0.673      -4.061       2.621
x58            1.6036      1.718      0.933      0.351      -1.765       4.972
x59            1.9541      1.707      1.145      0.252      -1.392       5.300
x60            3.1697      1.701      1.863      0.062      -0.165       6.504
x61           -0.3169      1.706     -0.186      0.853      -3.661       3.027
x62            2.4579      1.712      1.436      0.151      -0.898       5.814
x63           -2.4057      1.699     -1.416      0.157      -5.736       0.925
x64           -1.7881      1.703     -1.050      0.294      -5.126       1.550
x65           -0.8104      1.716     -0.472      0.637      -4.174       2.553
x66           -2.6028      1.712     -1.520      0.129      -5.959       0.754
x67            1.7471      1.712      1.021      0.307      -1.608       5.103
x68           -2.2442      1.713     -1.310      0.190      -5.602       1.114
x69           -1.7855      1.717     -1.040      0.298      -5.151       1.580
x70            3.2507      1.715      1.895      0.058      -0.112       6.613
x71            0.4048      1.710      0.237      0.813      -2.947       3.756
x72           -1.4682      1.703     -0.862      0.389      -4.807       1.870
x73            0.3939      1.713      0.230      0.818      -2.964       3.752
x74            0.6074      1.688      0.360      0.719      -2.701       3.916
x75           -2.8237      1.702     -1.659      0.097      -6.161       0.513
x76            1.3780      4.345      0.317      0.751      -7.139       9.895
x77           -2.4160      4.188     -0.577      0.564     -10.626       5.794
x78            4.0036      2.313      1.731      0.083      -0.530       8.537
x79           -0.0047      2.138     -0.002      0.998      -4.196       4.187
x80           38.1055      3.986      9.559      0.000      30.291      45.920
x81            7.5966      1.661      4.572      0.000       4.340      10.853
x82          183.7027      2.313     79.435      0.000     179.169     188.236
x83           84.7518      2.069     40.965      0.000      80.696      88.807
x84           -0.0803      2.427     -0.033      0.974      -4.839       4.678
x85           31.1247      2.514     12.383      0.000      26.198      36.052
x86           -0.8672      2.643     -0.328      0.743      -6.048       4.313
x87            0.5523      1.147      0.482      0.630      -1.695       2.800
x88           -1.4750      2.490     -0.592      0.554      -6.356       3.406
x89           -0.0786      2.960     -0.027      0.979      -5.882       5.724
x90            2.2591      1.528      1.479      0.139      -0.735       5.254
x91           -1.4061      1.488     -0.945      0.345      -4.323       1.511
x92           -1.1600      1.450     -0.800      0.424      -4.003       1.683
x93            3.1173      1.567      1.989      0.047       0.045       6.189
x94           -0.8626      1.441     -0.598      0.550      -3.688       1.963
x95           -0.2613      1.446     -0.181      0.857      -3.096       2.573
x96            7.2216      1.926      3.750      0.000       3.446      10.997
x97            4.5555      1.823      2.498      0.013       0.981       8.130
x98            2.3666      1.843      1.284      0.199      -1.246       5.980
x99            0.7069      1.863      0.379      0.704      -2.945       4.359
x100          -0.8738      1.854     -0.471      0.637      -4.508       2.761
x101          -1.5510      1.831     -0.847      0.397      -5.141       2.039
x102           4.7362      2.882      1.643      0.100      -0.914      10.386
x103          -0.8908      2.926     -0.304      0.761      -6.626       4.844
x104          -4.7366      2.127     -2.227      0.026      -8.906      -0.567
x105          -5.8834      2.803     -2.099      0.036     -11.378      -0.389
x106           0.2891      1.743      0.166      0.868      -3.129       3.707
x107          -4.2406      2.484     -1.707      0.088      -9.110       0.629
x108          -0.7462      2.502     -0.298      0.766      -5.651       4.159
==============================================================================
Omnibus:                     3315.135   Durbin-Watson:                   2.037
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            43683.175
Skew:                           1.767   Prob(JB):                         0.00
Kurtosis:                      14.297   Cond. No.                     7.71e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.74e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [21]:
predictions_test

array([452.21340455, 394.58564351, 138.85126203, ..., 579.24489257,
       -32.40173853, 480.1344889 ])

In [22]:
#display adjusted R-squared
print(model.rsquared_adj)

0.7696357753043289